---
---

@import "{{ site.theme }}";

#downloads { display: none; }

#site-logo {
  display: block;
  margin: 0.5rem;
  float: right;
  max-width: 100px;
  border-radius: 20px;
}

header .container::after {
  content: "";
  clear: both;
  display: table;
}

